<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>IanSegers.Com</title>

		<!-- Open Graph -->
		<meta property="og:title" content="IanSegers.Com" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="www.iansegers.com" />
		<meta property="og:site_name" content="www.iansegers.com" />
		<meta property="og:image" content="http://www.iansegers.com/assets/img/profile.jpg" />
		<meta property="og:description" content="Learn more about Ian Segers, his blogs, his resume and his projects." />

		<!-- Stylesheets -->
		<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css" >

		<!-- JS -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>

	</head>

	<body ng-app="myApp" ng-controller="AppController" ng-keydown="onKeyPress($event)">

	<div id="menu">




		<!--
		<span class="instructions">
			This website is keyboard friendly. <br>
			Press any key with <span class="short-key">corresponding</span> letter.<br>
			Use `ESC` to return.
		</span>

		<div class="panel one">
			<div class="panel-content clickable" ng-click="goToRoute('/about')">
					<div>
						<i class="fa fa-question-circle-o fa-5x"></i>
					</div>
					<div>
						<h1><span class="short-key">A</span>bout</h1>
					</div>
			</div>
		</div>

		<div class="panel two">
			<div class="panel-content clickable" ng-click="goToRoute('/resume')">
				<div>
					<i class="fa fa-rocket fa-5x"></i>
				</div>
				<div>
					<h1><span class="short-key">R</span>esume</h1>
				</div>
			</div>
		</div>

		<div class="panel three">
			<div class="panel-main">
				<span class="profile-image"></span>
				<br><br>
				<span style="font-size: 1.2em; padding: 2em 0 0 0">ian segers<span class="blink_me">_</span></span>
			</div>
		</div>

		<div class="panel four">
			<div class="panel-content clickable" ng-click="goToRoute('/contact')">
				<div>
					<i class="fa fa-share-alt fa-5x"></i>
				</div>
				<div>
					<h1><span class="short-key">c</span>ontact</h1>
				</div>
			</div>
		</div>

		<div class="panel five">
			<div class="panel-content clickable" ng-click="goToRoute('/site')">
				<div>
					<i class="fa fa-code fa-5x"></i>
				</div>
				<div>
					<h1><span class="short-key">s</span>ite</h1>
				</div>
			</div>
		</div>
		-->
	</div>


	<div id="content">

		<div class="full-surface">

			<div class="flex-container content-innerwrapper" >

				<section class="flex-item content-header">
					<div class="panel-main">
						<span class="profile-image"></span>
						<h1>{{ title }}</h1>
						<span>
							<br><br>
							<span ng-click="goToRoute('/')" class="clickable"> press `ESC` to return</span>
						</span>
					</div>
				</section>

				<section class="flex-item content-main" >

					<div ng-click="goToRoute('/')" class="clickable return"><i class="fa fa-chevron-left"></i> <span>return<span class="blink_me">_</span></span></div>

					<div ng-view class="full-surface route-content"></div>

				</section>

			</div>

		</div>

	</div>

	<script src="js/app.js"></script>
	<script src="js/controllers/app.controller.js"></script>
	<script src="js/controllers/resume.controller.js"></script>
	<script src="js/controllers/about.controller.js"></script>
	<script src="js/controllers/socialcontact.controller.js"></script>
	<script src="js/controllers/site.controller.js"></script>

	<!-- TODO : Add Google Analytics -->
	<!-- TODO : Add Facebook Pixel -->

	</body>
</html>