<div class="resume">
	<section >
		<h1>Demographics</h1>
		<div class="json">
			{<br>
			<span class="tab"></span><span class="field">"name"</span>: <span class="value-string">"Ian Segers"</span>,<br>
			<span class="tab"></span><span class="field">"location"</span>: <span class="value-string">"Berlin, Germany"</span>,<br>
			<span class="tab"></span><span class="field">"nationality"</span>: <span class="value-string">"Belgian"</span>,<br>
			<span class="tab"></span><span class="field">"contact"</span>: <span class="value-string">"iansegers@gmail.com"</span>,<br>
			<span class="tab"></span><span class="field">"birthdate"</span>: <span class="value-string">"17th of May, 1988"</span><br>
			}
		</div>
	</section>

	<section>
		<h1>About</h1>
		<p class="tab">I love to see the big picture of a company, the mission, the product and most important of all, the user. In the past years I have been involved in an exciting start-up where I got in touch with many aspects of the development process, varying from coding to operations, continuous integration, continuous improvement, coaching employees, planning and product development. Off shore development and remote teams have no secrets for me, the more international the better.</p>
		<p class="tab">In my spare time I improve my knowledge and skills by seeking the net for blogs, books and discussions so I can apply this knowledge to enable the company to tackle new, constant emerging challenges that the information era imposes on us. Beside that, I like to experiment with music and video editing to satisfy my personal creativity. When the weekend starts I put on my dancing shoes to enjoy some concerts or old school house music from the late 80's else a trip to another county or city is on top of my list.</p>
	</section>
</div>