<section id="content-pane-about" class="content-pane">

	<h1>facts</h1>
	<div class="json">
		{<br>
		<span class="tab"></span><span class="field">"name"</span>: <span class="value-string">"Ian Segers"</span>,<br>
		<span class="tab"></span><span class="field">"location"</span>: <span class="value-string">"Berlin, Germany"</span>,<br>
		<span class="tab"></span><span class="field">"nationality"</span>: <span class="value-string">"Belgian"</span>,<br>
		<span class="tab"></span><span class="field">"contact"</span>: <span class="value-string">"iansegers@gmail.com"</span>,<br>
		<span class="tab"></span><span class="field">"birthdate"</span>: <span class="value-string">"17th of May, 1988"</span><br>
		}
	</div>

	<h1>who</h1>
	<p>
		Hi there, I am Ian. I am a versatile software engineer that has a strong hunger for business and entrepreneurship.
		To have an understanding of what I do and how I might be able to help you in the future, I'll recap quickly my career, bear with me ;)
	</p>

	<h2>the past</h2>

	<p>
		After I did my erasmus studies in Finland and my erasmus internship in India I knew I was not the material to stay much longer in Belgium, I had to go out and find my challenges anywhere I could.
		So I started my career back in 2012 as one of the first full time employees at a really cool Norwegian startup in Oslo, named <a target="_blank" href="http://www.socialcee.com">SocialCee</a>.
		As the team grew at SocialCee during the following 4 years, I grew along with the company from being a Developer, to a team lead and in the end to the Head of Development.
		Halfway my career I relocated from Oslo to Poland, Gdansk to be able to grow along with SocialCee.
	</p>

	<p>
		During this journey I was lucky to be working with some very inspiring people that allowed me to be involved with many aspects of the building and growing of a company going from the development, devops, involvement in product management,
		defining our vision, communicating with important partners and getting a thorough understanding of our business model. The service of SocialCee is oriented at online marketing with a speciality in Social Media which gave me a fairly good comprehension of this field.
	</p>

	<p>
		Along this Journey I got infected with the entrepreneur virus. So in Autumn 2016 I decided leave my job at SocialCee and take the leap of faith with a few friends to launch <a href="http://http://www.nexpat.net/">Nexpat</a>.
		After a few months of preparation followed by a few months of full time hard work, meetings, coding, research, mvoing to Berlin, frustration and joy me and my co founders were sad to have to stop the project.
		Why you would ask? Well, for every success start-up story there are 10 failures. I hope to be able to publish soon a few blog posts about my Nexpat start-up journey, the lessons I learned and the reasons why it came to an end.
		Follow me and you will found it out more soon ;)
	</p>

	<h2>the presence</h2>
	<p>
		Currently I unemployed and I am located in Berlin. I took the liberty to have a small hiatus and chat with friends about some cool projects, products and ideas.
	</p>

	<h2>the future</h2>
	<p>
		So what now? I am in searching for a cool new opportunity, a project, a start up. I am very open to cool ideas. But I am looking for an exciting challenge that involves all the aspects of building a team, a vision a product or, even a company.
		I have strong experience in software engineering and experience with growing and starting business. So are you seeking a new team member or co-worker to help you out with your project?
		Get in touch with me! I am a social and open person, I am eager to work on any cool and fresh ideas. If you would be interested to work with me,
		I would advice you to check out my resume <span ng-click="goToRoute('/resume')" class="clickable" style="text-decoration: underline">here</span>.
	</p>

	<h1>interests</h1>
	<p>
		Yawwwn... Still here? You're doing good on keeping your attention. Well I can tell you also what else interests me. So they might have an impact on the sexyness of any project.
	</p>

	<p>
		Music : I love music! I have been spinning them old school vinyls since I was 14. Still love doing it. Back in Belgium I still have a <a target="_blank" href="https://www.discogs.com/user/PunkDudez/collection">fair collection of vinyls</a>.
		I have been draging in the past years my Serato and Traktor all across the world. In general I listen a lot of electronic music but I am also a fear lover of any latin music (oh yeash, I love dancing that Salsa).
	</p>

	<p>
		Visual and performing art : This is a hobby which I had not much time getting into, but I am crazy about editing and composing videos, short movies and stuff. I used to make many after movies for my friends, nothing too serious or professional but feel
		free to check out my some simple <a target="_blank" href="https://www.youtube.com/watch?v=l8_mn8FSG1E">new year after party movie</a> I did or my <a target="_blank" href="https://vimeo.com/76045571">Kazantip</a> edit.
	</p>

	<p>
		Fashion : Never been an expert in this, but I admire and respect people who understand and apply fashion. I like visual beautify, fashion is a visual art of being able to dress and express.
	</p>

	<p>
		Ian Segers
	</p>

</section>