<section id="content-pane-about">

	<h1>facts</h1>
	<div class="json">
		{<br>
		<span class="tab"></span><span class="field">"name"</span>: <span class="value-string">"Ian Segers"</span>,<br>
		<span class="tab"></span><span class="field">"location"</span>: <span class="value-string">"Berlin, Germany"</span>,<br>
		<span class="tab"></span><span class="field">"nationality"</span>: <span class="value-string">"Belgian"</span>,<br>
		<span class="tab"></span><span class="field">"contact"</span>: <span class="value-string">"iansegers@gmail.com"</span>,<br>
		<span class="tab"></span><span class="field">"birthdate"</span>: <span class="value-string">"17th of May, 1988"</span><br>
		}
	</div>

	<h1>who i am</h1>

	<p>
		Hello there, I am Ian. I am a versatile software engineer that has a strong hunger for business and entrepreneurship.
		To understand what I like and what I want I need to quickly iterate over my career
	</p>
	<p>
		I started my career back in 2012 as one of the first full time employees at a really cool Norwegian startup in Oslo, named <a target="_blank" href="http://www.socialcee.com">SocialCee</a>.
		As the team grew at SocialCee during the following 4 years, I grew along with the company from being a Developer, to a team lead and in the end to the Head of Development.
	</p>

	<p>
		During this journey I was lucky to be working with some very inspiring people that allowed me to be involved with many aspects of the building and growing of a company going from the development, devops, involvement in product management,
		defining our vision, communicating with important partners and getting a thorough understanding of our business model. The service of SocialCee is oriented at online marketing with a speciality in Social Media which helped me to have a good comprehension of this field.
	</p>

	<p>
		Along this Journey I got infected with the entrepreneur virus so in Autumn 2016 I decided to give it a shot myself with a few friends to launch <a href="http://http://www.nexpat.net/">Nexpat</a>.

	</p>
	<!--
	<p>I love to see the big picture of a company, the mission, the product and most important of all, the user. In the past years I have been involved in an exciting start-up where I got in touch with many aspects of the development process, varying from coding to operations, continuous integration, continuous improvement, coaching employees, planning and product development. Off shore development and remote teams have no secrets for me, the more international the better.</p>
	<p>In my spare time I improve my knowledge and skills by seeking the net for blogs, books and discussions so I can apply this knowledge to enable the company to tackle new, constant emerging challenges that the information era imposes on us. Beside that, I like to experiment with music and video editing to satisfy my personal creativity. When the weekend starts I put on my dancing shoes to enjoy some concerts or old school house music from the late 80's else a trip to another county or city is on top of my list.</p>
	-->

</section>