<section id="content-pane-contact" class="content-pane">
	<div class="vertical-center">
		<h1>Contact</h1>
		<p>
			If you would like to contact me for an interesting project, advice, feedback
			or just to get to know me better feel free to contact me through one of
			the following channels listed below.
		</p>
		<h1>channels</h1>
		<ul>
			<li><i class="fa fa-stack-overflow"></i><a target="_blank" href="http://stackoverflow.com/users/713456">StackOverflow</a></li>
			<li><i class="fa fa-github"></i><a target="_blank" href="https://github.com/SegersIan">GitHub</a> </li>
			<li><i class="fa fa-linkedin"></i><a target="_blank" href="https://linkedin.com/in/segersian">LinkedIn</a> </li>
			<li><i class="fa fa-twitter"></i><a target="_blank" href="https://twitter.com/SegersIan">@SegersIan</a> </li>
			<li><i class="fa fa-vimeo"></i><a target="_blank" href="https://vimeo.com/segersian">Vimeo</a> </li>
			<li><i class="fa fa-angellist"></i><a target="_blank" href="https://angel.co/segers_ian">AngelList</a> </li>
			<li><i class="fa fa-skype"></i><a target="_blank" href="skype:segers_ian?call">Call</a> or <a target="_blank" href="skype:segers_ian?chat"></i>chat</a></li>
			<li><i class="fa fa-envelope"></i><span class="reverse">moc.sregesnai@tcatnoc</span></li>
		</ul>

		<h1>Resume</h1>
		<ul>
			<li><i class="fa fa-download"></i>Download Resume in color  <a href="http://www.segersian.com/static/Resume_IanSegers_Color.pdf" target="_blank">here</a>.</li>
			<li><i class="fa fa-download"></i>Download Resume in black/white (print friendly) <a href="http://www.segersian.com/static/Resume_IanSegers_Black.pdf" target="_blank">here</a>.</li>
		</ul>
	</div>
</section>