<div class="resume">
	<section>
		<h1>links</h1>
		<ul>
			<li> <a target="_blank" href="http://stackoverflow.com/users/713456"><i class="fa fa-stack-overflow"></i>StackOverflow</a></li>
			<li> <a target="_blank" href="https://github.com/SegersIan"><i class="fa fa-github"></i>GitHub</a> </li>
			<li> <a target="_blank" href="https://linkedin.com/in/segersian"><i class="fa fa-linkedin"></i>LinkedIn</a> </li>
			<li> <a target="_blank" href="https://twitter.com/SegersIan"><i class="fa fa-twitter"></i>@SegersIan</a> </li>
			<li> <a target="_blank" href="https://vimeo.com/segersian"><i class="fa fa-vimeo"></i>Vimeo</a> </li>
			<li> <a target="_blank" href="https://angel.co/segers_ian"><i class="fa fa-angellist"></i>AngelList</a> </li>
			<li> <i class="fa fa-skype"></i><a target="_blank" href="skype:segers_ian?call">Call</a> or <a target="_blank" href="skype:segers_ian?chat"></i>chat</a></li>
			<li> <a target="_blank" href="#"><i class="fa fa-download"></i>Download CV</a> </li>
		</ul>
	</section>
</div>