<div id="content-pane-resume" class="content-pane">
	<section >
		<h1>facts</h1>
		<div class="json">
			{<br>
			<span class="tab"></span><span class="field">"name"</span>: <span class="value-string">"Ian Segers"</span>,<br>
			<span class="tab"></span><span class="field">"location"</span>: <span class="value-string">"Berlin, Germany"</span>,<br>
			<span class="tab"></span><span class="field">"relation_to"</span>: <span class="value-string">["Barcelona", "Oslo"]</span>,<br>
			<span class="tab"></span><span class="field">"nationality"</span>: <span class="value-string">"Belgian"</span>,<br>
			<span class="tab"></span><span class="field">"contact"</span>: <span class="value-string">"iansegers@gmail.com"</span>,<br>
			<span class="tab"></span><span class="field">"birthdate"</span>: <span class="value-string">"17th of May, 1988"</span><br>
			}
		</div>
	</section>

	<section>
		<h1>goal</h1>
		<p>Grow as a leader and as a team player, in the field of technical and/or product, open to experimentation and innovation. At some stage I would love to start my own venture.</p>
	</section>

	<section>
		<h1>Skills</h1>
		<div class="flex-container">
			<div class="flex-item">
				<h2>Technical</h2>
				<ul>
					<li>
						<svg class="svg-volume"  data-value="90">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						C#
					</li>
					<li>
						<svg class="svg-volume" data-value="25">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Android
					</li>
					<li>
						<svg class="svg-volume" data-value="70">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						JavaScript
					</li>
					<li>
						<svg class="svg-volume" data-value="50">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Angular
					</li>
					<li>
						<svg class="svg-volume" data-value="80">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						HTML5/CSS3/SASS
					</li>
					<li>
						<svg class="svg-volume" data-value="40">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						MEAN stack
					</li>
				</ul>
			</div>
			<div class="flex-item">
				<h2>Tools</h2>
				<ul>
					<li>
						<svg class="svg-volume" data-value="40">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						GIT
					</li>
					<li>
						<svg class="svg-volume" data-value="80">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Jenkins
					</li>
					<li>
						<svg class="svg-volume" data-value="80">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Markdown
					</li>
					<li>
						<svg class="svg-volume" data-value="100">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						JIRA
					</li>
					<li>
						<svg class="svg-volume" data-value="100">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Confluence
					</li>
					<li>
						<svg class="svg-volume" data-value="70">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Front End (Gulp, bower, npm)
					</li>
				</ul>
			</div>
		</div>
		<div class="flex-container">
			<div class="flex-item">
				<h2>Soft</h2>
				<ul>
					<li>
						<svg class="svg-volume" data-value="100">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						KanBan
					</li>
					<li>
						<svg class="svg-volume" data-value="40">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						LEAN
					</li>
					<li>
						<svg class="svg-volume" data-value="70">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Leadership
					</li>
					<li>
						<svg class="svg-volume" data-value="50">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Technical documentation
					</li>
				</ul>
			</div>
			<div class="flex-item">
				<h2>Useful</h2>
				<ul>
					<li>
						<svg class="svg-volume" data-value="50">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Product Development
					</li>
					<li>
						<svg class="svg-volume" data-value="60">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Online Marketing
					</li>
					<li>
						<svg class="svg-volume" data-value="100">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Entrepreneural mindset
					</li>
					<li>
						<svg class="svg-volume" data-value="90">
							<path class="voidMask"></path>
							<path class="valueMask"></path>
							<path class="valuePointer"></path>
						</svg>
						Cultural Intelligence
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<h1>Languages</h1>
		<ul>
			<li>
				<svg class="svg-volume" data-value="100">
					<path class="voidMask" />
					<path class="valueMask" />
					<path class="valuePointer" />
				</svg>
				Dutch (Native proficiency)
			</li>
			<li>
				<svg class="svg-volume" data-value="80">
					<path class="voidMask" />
					<path class="valueMask" />
					<path class="valuePointer" />
				</svg>
				English (Full professional proficiency)
			</li>
			<li>
				<svg class="svg-volume" data-value="20">
					<path class="voidMask" />
					<path class="valueMask" />
					<path class="valuePointer" />
				</svg>
				French (Limited working proficiency)
			</li>
		</ul>
	</section>

	<section class="jobs">
		<h1>Experience</h1>
		<h2>Jobs</h2>
		<ul>
			<li><h3>Co Founder</h3>
				<ul>
					<li>Nexpat</li>
					<li>June 2016 - August 2016</li>
					<li>Gdansk, Poland</li>
					<li>As a co founder at Nexpat, my role was primarily for leading the development of our platform and our marketing. Naturally as a co founder I was involved with multiple the business development, product, vision, marketing and management. Anything that was required to push the company forth.</li>
					<li>Technologies : MongoDB, ExpressJS, NodeJS, Angular2, SASS, TypeScript, Gulp</li>
					<li>Bootstrapping a brand, company, coordinate development of the product, collaborate with other co-founders on building the team and our future.</li>
				</ul>
			</li>
			<li>
				<h3>Head of Development</h3>
				<ul>
					<li>SocialCee</li>
					<li>June 2015 - May 2016 (1 year) </li>
					<li>Gdansk, Poland</li>
					<li>
						I was responsible for the development of our product (SaaS) located in the near-shore office in Poland. This implies daily operational responsibilities like monitoring and adjusting the team set-up, identify responsibilities and recruit where necessary, coach employees, plan the product roadmap and report to other departments about our process on the product. <br><br>
						Beside the usual operational tasks I wrote technical documentation, communicate with external partners and facilitate troubleshooting on our REST API. On the side I got my hands dirty on improving our devops, execute deployments, coordinate releases and make sure the product kept moving forward. <br><br>
						When possible, I helped out on fixing bugs and implementation tasks to not loose touch with the code base.
					</li>
					<li>Soft Skills: Writing public documentation, continuous improvement, product planning, scaling planning, management, external communications, coaching and recruitment.</li>
				</ul>
			</li>
			<li>
				<h3>Team Lead</h3>
				<ul>
					<li>SocialCee</li>
					<li>January 2014 - June 2015 (1 year 6 Months)</li>
					<li>Gdansk, Poland</li>
					<li>Team lead and developer at the near-shore team based in Gdansk, Poland.
						Responsible for the documentation, analysis, implementation, testing and team for the back-end development of our web application. Development according to the KanBan methodology.</li>
					<li>Technologies: C#, HTML/CSS, JS, Framework 4.5, EF6, GIT, SQL Server 2012 and non tech (confluence + Jira)</li>
					<li>Soft skills: Team management, writing documentation (SRS, SP and WBS), Leading daily stand ups, KanBan, Agile</li>
				</ul>
			</li>
			<li>
				<h3>Software Engineer</h3>
				<ul>
					<li>SocialCee</li>
					<li>August 2012 - December 2013 (1 year 5 months)</li>
					<li>Oslo, Norway</li>
					<li>Responsible for the development of the web application tool that provides social media management for numerous social networks. This involves gathering, processing, intelligence and handling content from multiple social network APIs. We also work with partners like Intelecom to integrate social media support in their existing solutions.</li>
					<li>Technologies: C#, HTML/CSS, JS, REST, Ajax, Social Media API's, Framework 4.5, SQL Server 2012.</li>
				</ul>
			</li>
			<li>
				<h3>Software Engineer Intern</h3>
				<ul>
					<li>Ness</li>
					<li>April 2011 - June 2011 (3 months)</li>
					<li>Hyderabad, India</li>
					<li>Responsible for developing a satellite web application that validated and processed batch (CSV) files that were executed on the core solution's API. I developed this with the offshore team in India.</li>
					<li>Technologies: Spring 3 MVC, Websphere 7, SOAP and Oracle</li>
					<li>Soft skills : offshore development, intercultural communication and teamwork, presenting</li>
				</ul>
			</li>
		</ul>
		<h2>Small projects</h2>
		<ul>
			<li><h3>Warehouse Administration App - Android</h3>
				<ul>
					<li>Freelance</li>
					<li>1 Month (2012)</li>
					<li>Belgium</li>
					<li>Development of an Android app that is in contact with a server to handle warehouse administration for a Finnish customer.</li>
					<li>Technologies: Android (2.3.4) , Java , REST</li>
				</ul>
			</li>
			<li><h3>Integration with NaviTrace</h3>
				<ul>
					<li>Vermetal</li>
					<li>1 Month (2009)</li>
					<li>Schelle, Belgium</li>
					<li>Design & implementation of a dispatch application that dispatches tasks to multiple employees that use the NaviTrace solution to follow up deliver and pickup jobs of truck drivers.</li>
					<li>Technologies: C#, NaviTrace API</li>
					<li>Soft skills: Close collaboration with the customer to analyze needs and requirements.</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h1>Education</h1>
		<ul>
			<li><h3>Bachelor in Software Development</h3>
				<ul>
					<li>Karel De Grote Hogeschool</li>
					<li>Antwerp, Belgium</li>
					<li>2008 - 2011</li>
				</ul>
			</li>
			<li><h3>Student Exchange - Mobile Development</h3>
				<ul>
					<li>Jyväskylän Ammattikorkeakoulu - JAMK</li>
					<li>Jyväskylä, Finland</li>
					<li>2010</li>
				</ul>
			</li>
			<li><h3>Industrial ICT</h3>
				<ul>
					<li>T.I. Don Bosco</li>
					<li>Hoboken, Belgium</li>
					<li>2000 - 2007</li>
				</ul>
			</li>
		</ul>
	</section>

</div>