<section>
	<h1>Site</h1>
	<h2>What site ?</h2>
	<p>
		Having a technical background I strongly believe that people should try to be as transparent as possible and help each other out in improving their skills.
		For that simple reason I have made the entire source code of this website entirely available on GitHib. Feel free to steal anything of this website,
		I myself have also used materials of other developers/engineers for technical purpose and for inspiration. I try to credit authors in the comments.
		Note that I do not consider this site as being very unique or impressive, but I did put a lot of effort and pride in the work I do.
	</p>

	<p>
		There is also an another (hidden?) reason to this, with the source easily accessible, potential clients or employers can always asses my level of skill
		in Front End Development and the related tools. Making the code available in a git repository is always more convenient for any recruiter.
	</p>

	<h2>Credits</h2>
	<p>As you might read through the code I will try to credit significant implementations to the original authors and or tutorials.</p>

	<h2>Code</h2>
	<p>You can just clone or download the code straight from GitHub.</p>
	<ul>
		<li>url : <a target="_blank" href=" https://github.com/SegersIan/iansegersdotcom">https://github.com/SegersIan/iansegersdotcom</a></li>
	</ul>
</section>