h1, h2, h3{
	text-transform: lowercase;
	font-weight: normal;
}

h1:before{
	content: "{";
}

h1:after{
	content: "}";
}

h2:before{
	content: "{";
}

h2:after{
	content: "}";
}

h3:before{
	content: "{";
}

h3:after{
	content: "}";
}

