// Default styling for portrait mode
@media screen and (orientation: portrait){

	#menu{

		.menu-flex-subcontainer{
			flex-direction:row;
			flex-basis: 100%;
			-webkit-align-self: stretch;
			align-self: stretch;
		}

		.menu-flex-subcontainer:nth-of-type(1){
			flex-basis: 100%;
		}

		.menu-flex-subcontainer:nth-of-type(3){
			flex-basis: 100%;
		}

		.instructions{
			padding: 1em 1em 0 1em;
		}

	}

	#content-header{
		position: absolute;
		width: 100%;
		margin: 0 0 0 0;
	}

	#content{
		margin: 260px 0 0 0;
		width: 100%;
		.content-pane{
			padding: 0 2% 0 2%;
		}
	}
}

@media 	screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (min-device-pixel-ratio: 2)
{
	#menu{
		font-size: 10px;

		$profileImageSize: 12em;

		.profile-image{
			height: $profileImageSize;
			width: $profileImageSize;
			background-size: $profileImageSize $profileImageSize;
		}

		.profile-image:hover{
			height: $profileImageSize;
			width: $profileImageSize;
			background-size: $profileImageSize $profileImageSize;
		}

		.name{
			margin: 0 0 0.5em 0;
		}

		.instructions{
			display: none;
		}
	}

	#content{
		font-size: 12px;
	}
}

@media 	screen and (max-device-height: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
		screen and (max-device-height: 736px) and (orientation: landscape) and (min-device-pixel-ratio: 2)
{

	#content-header{
		margin: 0 0 0 0;

		$profileImageSize: 8em;

		.profile-image{
			height: $profileImageSize;
			width: $profileImageSize;
			background-size: $profileImageSize $profileImageSize;
		}

		.profile-image:hover{
			height: $profileImageSize;
			width: $profileImageSize;
			background-size: $profileImageSize $profileImageSize;
		}
	}

}