.svg-volume{
	height: 1.5em;
	width: 1.5em;
	background-color: inherit;

	.voidMask{
		fill:none;
		stroke:rgb(0,0,0);
		stroke-linecap:round;

	}

	.valueMask{
		fill:none;
		stroke:rgb(207, 145, 121);
		stroke-linecap:round;
	}

	.valuePointer{
		fill:none;
		stroke:rgb(207, 145, 121);
		stroke-linecap:round;
	}
}