/* Colors */
$colorBackground : rgb(30,30,30);
$colorText : rgb(212,212,212);
$colorGoldBrown : rgb(207, 145, 121);
$colorHighlightBlue : rgb(154, 219, 245);
$colorDefaultBlue : rgb(31,72,141);
$colorCommentGreen : rgb(96, 137, 77);

/* Fonts */
$defaultFontFamily : "Menlo","Vera", monospace;

/* todo: clean up */
// $colorBrown : rgb(193,107,52);
// $colorDarkBlue : rgb(26,52,144);
// $colorHighlightRed : rgb(242,31,28);