.flex-container{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;

	position: absolute;
	height: 100%;
	width: 100%;
}

/* menu */
.menu-flex-container{
	@extend .flex-container;
}

.content-flex-container{
	@extend .flex-container;
}

.menu-flex-subcontainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.menu-flex-subcontainer:nth-of-type(1){
	flex-basis: 40%;
}

.menu-flex-subcontainer:nth-of-type(2){
	flex-basis: 20%;
}

.menu-flex-subcontainer:nth-of-type(3){
	flex-basis: 40%;
}

.menu-flex-single-column{
	flex-basis: 100%;
}

/* content */
