/* Colors */
$colorBackground : rgb(30,30,30);
$colorBrown : rgb(193,107,52);
$colorGoldBrown : rgb(207, 145, 121);
$colorHighlightBlue : rgb(154, 219, 245);
$colorDefaultBlue : rgb(31,72,141);
$colorDarkBlue : rgb(26,52,144);
$colorText : rgb(212,212,212);
$colorHighlightRed : rgb(242,31,28);
$colorCommentGreen : rgb(96, 137, 77);

/* Fonts */
$fontFamilyTextEditor : "Menlo";
$fontFamilyOnlineJson : "Consolas, 'Courier New', monospace";

/* Imports */
@import "golden-ratio";
@import "headers";
@import "responsiveness";
@import "blink";

/* Default HTML elements */
*{
	color: $colorText;
	font-family: $fontFamilyTextEditor;
	font-size: 1em;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow-x: hidden;
	background-color: $colorBackground;
}

/* Generic */
.full-surface{
	width: 100%;
	height: 100%;
}

.clickable{
	cursor: pointer;
}

.border-yellow{
	border: 1px solid #ffff00;
}

.tab{
	margin-left: 2em;
}

.short-key{
	color: $colorGoldBrown;
	font-weight: bold;
}

.profile-image{
	$size : 12em;
	display: inline-block;
	border-radius: 50%;
	height: $size;
	width: $size;
	background: url("../img/profile.jpg") center ;
	background-size: $size $size;
}

/* Classes for transition effect */
.mover {
	transform: translate(-100%, 0);
}

/* Main menu */
#menu {
	transition: all 0.4s, transform 0.4s ease;
	height: 100%;

	.menu-panel{
		text-align: center;
		width: 50%;
		display: flex;
	}

	.menu-panel-content{
		align-self: center;
		flex-basis: 100%;
	}
}

/* Content container */

#content {
	position: absolute;
	left: 100%;
	transition: all 0.4s, transform 0.4s ease;
	width: 100%;
	height: 100%;
	top: 0;

	.content-header{
		width: $gld9;
		border: 1px solid #00b3ee;
		overflow: hidden;
		display: flex;
	}

	.content-main{
		width: $gld10;
		border: 1px solid #00b3ee;
		display: flex;
		overflow-y: scroll;
	}

	.flex-block{
		align-self: center;
		flex-basis: 100%;
		text-align: center;
	}

}

.resume{
	padding: 1em 1em 1em 1em;

	h1{
		color: $colorDefaultBlue;
	}

	h2{
		color: $colorHighlightBlue;
	}

	h3{
		color: $colorGoldBrown;
	}

	progress {
		background-color: inherit;
		border: 1px solid $colorGoldBrown;
	}

	progress::-webkit-progress-bar {
		background-color: inherit;
	}

	progress::-webkit-progress-value {
		background-color: $colorGoldBrown;
	}

	progress::-moz-progress-bar {
		background-color: inherit;
	}

	ul:nth-child(2){
		@extend .tab;
	}

	ul{
		list-style-type: none;
	}

	.json{
		text-align: left;

		.field{
			color: $colorHighlightBlue;
		}

		.comment{
			color: $colorCommentGreen !important;
		}

		.value-string{
			color: $colorGoldBrown
		}
	}
}
