$colorBackground : rgb(30,30,30);
$colorBrown : rgb(193,107,52);
$colorGoldBrown : rgb(207, 145, 121);
$colorHighlightBlue : rgb(154, 219, 245);
$colorDefaultBlue : rgb(31,72,141);
$colorDarkBlue : rgb(26,52,144);
$colorText : rgb(212,212,212);
$colorHighlightRed : rgb(242,31,28);
$colorCommentGreen : rgb(96, 137, 77);

$fontFamilyTextEditor : "Menlo, Monaco, 'Courier New', monospace";
$fontFamilyOnlineJson : "Consolas, "Courier New", monospace";

*{
	color: $colorText;
	font: $fontFamilyTextEditor;
	font-size: 1em;
}

body{
	vertical-align: middle;
	padding: 3em 10em 0 10em;
	background-color: $colorBackground;
}


.flex-container{
	display: flex;
	border: thin solid $colorText;
}

.flex-item{
	flex-grow: 1;
}

.profile-image{
	height: 16em;
	width: 16em;
	background: url("../img/profile.jpg") center ;
	background-size: 16em 16em;
}

.tab{
	margin-left: 2em;
}

.json{
	text-align: left;



	.field{
		color: $colorHighlightBlue;
	}

	.comment{
		color: $colorCommentGreen;
	}

	.value-string{
		color: $colorGoldBrown
	}
}

