/* Colors */
$colorBackground : rgb(30,30,30);
$colorBrown : rgb(193,107,52);
$colorGoldBrown : rgb(207, 145, 121);
$colorHighlightBlue : rgb(154, 219, 245);
$colorDefaultBlue : rgb(31,72,141);
$colorDarkBlue : rgb(26,52,144);
$colorText : rgb(212,212,212);
$colorHighlightRed : rgb(242,31,28);
$colorCommentGreen : rgb(96, 137, 77);

/* Fonts */
$fontFamilyTextEditor : "Menlo";
$fontFamilyOnlineJson : "Consolas, 'Courier New', monospace";

@import "golden-ratio";
@import "headers";
@import "responsiveness";

.full-surface{
	width: 100%;
	height: 100%;
}

.clickable{
	cursor: pointer;
}

.border-yellow{
	border: 1px solid #ffff00;
}

.route-content{
	margin: 3em 0 0 0
}

.return{
	padding: 1em 1em 0 0;
	vertical-align: center;
	height: 2em;
	right:0;
	text-align: right;
	position: fixed;
	//background-color: $colorBackground;
	width: inherit;
	background-color: rgba(30,30,30,0.9);
}

.profile-image{
	$size : 12em;
	display: inline-block;
	border-radius: 50%;
	height: $size;
	width: $size;
	background: url("../img/profile.jpg") center ;
	background-size: $size $size;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	color: #fff;
	transition: all 0.4s, transform 0.4s ease;
}

.content-innerwrapper{
	@extend .gld-full;
	height: 100%;
}

.content-header{
	@extend .gld-med;
	text-align: center;
	height: 100%;
	overflow: hidden;

}

.content-main{
	@extend .gld-large;
	//@extend .border-yellow;
	height: 100%;
	overflow-y: scroll;
}

*{
	color: $colorText;
	font-family: $fontFamilyTextEditor;
	font-size: 1em;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: $colorBackground;
}

a{
	color: $colorText;
}

.instructions{
	z-index: 500;
	position: absolute;
	top: 75%;
	margin: 0 30% 0 30%;
	width: auto;
	text-align: center;
}

#menu {
	width: 100%;
	height: 100%;
	transition: all 0.4s, transform 0.4s ease;

	.short-key{
		color: $colorGoldBrown;
		font-weight: bold;
	}

}

.panel {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	padding: auto 0 auto 0;
	vertical-align: middle;



	a{
		text-decoration: none;
	}


}
.panel-content{
	position:absolute;
	top:50%;
	height:10em;
	margin-top:-5em;
	width: inherit;
}
.panel-main{
	@extend .panel-content;
	margin-top: -10em;
}

.mover {
	transform: translate(-100%, 0);
}

.tab{
	margin-left: 2em;
}

.resume{
	padding: 1em 1em 1em 1em;


	h1{
		color: $colorDefaultBlue;
	}

	h2{
		color: $colorHighlightBlue;
	}

	h3{
		color: $colorGoldBrown;
	}

	progress {
		background-color: inherit;
		border: 1px solid $colorGoldBrown;
	}

	progress::-webkit-progress-bar {
		background-color: inherit;
	}

	progress::-webkit-progress-value {
		background-color: $colorGoldBrown;
	}

	progress::-moz-progress-bar {
		background-color: inherit;
	}

	ul:nth-child(2){
		@extend .tab;
	}

	ul{
		list-style-type: none;
	}

	.profile-image{
		height: 16em;
		width: 16em;
		background: url("../img/profile.jpg") center ;
		background-size: 16em 16em;
	}

	.json{
		text-align: left;

		.field{
			color: $colorHighlightBlue;
		}

		.comment{
			color: $colorCommentGreen !important;
		}

		.value-string{
			color: $colorGoldBrown
		}
	}
}

.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
